<div>
  <%= link_to("Integer",   :controller => 'types', :action => 'integer') %> |
  <%= link_to("Boolean",   :controller => 'types', :action => 'boolean') %> |
  <%= link_to("Function",  :controller => 'types', :action => 'function') %> |
  <%= link_to("ValueType", :controller => 'types', :action => 'value_type') %> |
</div>