<%= render("type_navigation") %>

<section>
  <h2>Array</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Array</span> : <span class="superclass">Object</span>
{
    <span class="keyword">method</span> <span class="function">add_object</span>(<span class="entity">Object</span> obj)
    
    <span class="keyword">method</span> <span class="function">each</span>(<span class="entity">Function</span>(<span class="entity">Object</span> obj) block)
}
    </code>
</section>
