<%= render("type_navigation") %>

<section>
  <h2>Boolean</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Boolean</span>&lt;&gt; : <span class="superclass">ValueType</span>
{
}
    </code>
</section>
