<%= render("type_navigation") %>

<section>
  <h2>Character</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Character</span> : <span class="superclass">ValueType</span>
{
    <span class="keyword">property</span> <span class="function">ascii?</span>(<span class="entity">Boolean</span>;)
    <span class="keyword">property</span> <span class="function">ascii_number?</span>(<span class="entity">Boolean</span>;)
    <span class="keyword">property</span> <span class="function">ascii_letter?</span>(<span class="entity">Boolean</span>;)
    <span class="keyword">property</span> <span class="function">ascii_printable?</span>(<span class="entity">Boolean</span>;)
    
    <span class="keyword">method</span>   <span class="function">upper_case</span>(<span class="entity">Void</span>;)
    <span class="keyword">method</span>   <span class="function">lower_case</span>(<span class="entity">Void</span>;)
}
    </code>
</section>
