<%= render("type_navigation") %>

<section>
  <h2>Class</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Class</span> : <span class="superclass">Object</span>
{
    <span class="keyword">property</span> <span class="function">methods</span>(<span class="entity">Array</span>;)
    <span class="keyword">property</span> <span class="function">interfaces</span>(<span class="entity">Array</span>;)
    
    <span class="keyword">method</span>   <span class="function">implements?</span>(<span class="entity">Boolean</span>; <span class="entity">Interface</span> anInterface)
}
    </code>
</section>
