<%= render("type_navigation") %>

<section>
  <h2>Float</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Float</span>&lt;&gt; : <span class="superclass">ValueType</span>
{
    <span class="keyword">method</span> <span class="function">to_integer</span>(<span class="entity">Integer</span>;)
    <span class="keyword">method</span> <span class="function">to_natural</span>(<span class="entity">Natural</span>;)
    
    <span class="keyword">method</span>  <span class="function">to_little_endian</span>(<span class="entity">Float</span>;)
    <span class="keyword">method</span>     <span class="function">to_big_endian</span>(<span class="entity">Float</span>;)
    <span class="keyword">method</span> <span class="function">to_network_endian</span>(<span class="entity">Float</span>;)
    <span class="keyword">method</span>    <span class="function">to_host_endian</span>(<span class="entity">Float</span>;)
    
    <span class="keyword">class</span> <span class="keyword">property</span> <span class="function">nan</span>(<span class="entity">Float</span>;)
    <span class="keyword">class</span> <span class="keyword">property</span> <span class="function">infinity</span>(<span class="entity">Float</span>;)
}
    </code>
</section>
