<%= render("type_navigation") %>

<section>
  <h2>Function</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Function</span> : <span class="superclass">Reference</span>
{
    <span class="keyword">property</span> <span class="function">arity</span>(<span class="entity">Natural</span>;)
    
    <span class="keyword">property</span> <span class="function">load_address</span>(<span class="entity">Natural</span>;)
}
    </code>
</section>
