<%= render("type_navigation") %>

<section>
  <h2>Hash</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Hash</span> : <span class="superclass">Object</span>
{
    <span class="keyword">indexer</span> <span class="keyword">self</span>[<span class="entity">Object</span> key](<span class="entity">Object</span>; <span class="entity">Object</span> value)
    
    <span class="keyword">method</span>  <span class="function">each</span>(<span class="entity">Function</span>(<span class="entity">Object</span> key, <span class="entity">Object</span> value) block)
}
    </code>
</section>
