<%= render("type_navigation") %>

<section>
  <h2>Nil</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">NilClass</span> : <span class="superclass">Object</span>
{
}
    </code>
</section>
