<%= render("type_navigation") %>

<section>
  <h2>Number</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Number</span> : <span class="superclass">Object</span>
{
}
    </code>
</section>
