<%= render("type_navigation") %>

<section>
  <h2>Object</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Object</span> : <span class="superclass">Reference</span>
{
    <span class="comment">// memory management</span>
    <span class="keyword">method</span>   <span class="function">new</span>()
    
    <span class="keyword">property</span> <span class="function">retain_count</span>(<span class="entity">Natural</span>;)
    <span class="keyword">method</span>   <span class="function">retain</span>()
    <span class="keyword">method</span>   <span class="function">release</span>()
    
    <span class="comment">// basic functionality</span>
    <span class="keyword">property</span> <span class="function">hash</span>(<span class="entity">Natural</span>;)
    <span class="keyword">method</span>   <span class="function">to_string</span>(<span class="entity">String</span>;)
    <span class="keyword">operator</span> <span class="function">&lt;=&gt;</span>(<span class="entity">Object</span> o)
    <span class="keyword">operator</span> <span class="function">===</span>(<span class="entity">Object</span> o)
    
    <span class="comment">// meta methods</span>
    <span class="keyword">property</span> <span class="function">class</span>(<span class="entity">Class</span>;)
    <span class="keyword">property</span> <span class="function">superclass</span>(<span class="entity">Class</span>;)
    
    <span class="keyword">method</span>   <span class="function">is_kind_of?</span>(<span class="entity">Boolean</span>; <span class="entity">Class</span> class)
    <span class="keyword">method</span>   <span class="function">is_instance_of?</span>(<span class="entity">Boolean</span>; <span class="entity">Class</span> class)
    <span class="keyword">method</span>   <span class="function">responds_to?</span>(<span class="entity">Boolean</span>; <span class="entity">MethodSignature</span> signature)
    
}
    </code>
</section>
