<%= render("type_navigation") %>

<section>
  <h2>Range</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Range</span> : <span class="superclass">Object</span>
{
    <span class="keyword">property</span> <span class="function">start</span>(<span class="entity">Number</span>; <span class="entity">Number</span> a)
    <span class="keyword">property</span>   <span class="function">end</span>(<span class="entity">Number</span>; <span class="entity">Number</span> b)
    
    <span class="keyword">method</span>   <span class="function">contains?</span>(<span class="entity">Boolean</span>; <span class="entity">Number</span> number)
}
    </code>
</section>
