<%= render("type_navigation") %>

<section>
  <h2>Nil</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Reference</span>&lt;&gt; : <span class="superclass">ValueType</span>
{
    <span class="keyword">property</span> <span class="function">pointer</span>(<span class="entity">Pointer</span>;)
    
    <span class="keyword">property</span> <span class="function">nil?</span>(<span class="entity">Boolean</span>;)
}
    </code>
</section>
