<%= render("type_navigation") %>

<section>
  <h2>Type</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">Type</span>
{
    <span class="keyword">method</span> <span class="function">to_cstring</span>(<span class="entity">CString</span>;)
    <span class="keyword">method</span> <span class="function">to_string</span>(<span class="entity">String</span>;)
}
    </code>
</section>
