<%= render("type_navigation") %>

<section>
  <h2>ValueType</h2>
  <code>
<span class="keyword">interface</span> <span class="entity">ValueType</span>
{
    <span class="keyword">property</span> <span class="function">size_in_bytes</span>(<span class="entity">Natural</span>;)
    
    <span class="keyword">property</span> <span class="function">address</span>(<span class="entity">Natural</span>;)
    
    <span class="keyword">property</span> <span class="function">nil?</span>(<span class="entity">Boolean</span>;)
}
    </code>
</section>
