<%= render("features_navigation") %>

<section>
  <h2>Literal</h2>
  <code>
<span class="preprocessor">assembly</span>
{
    <span class="comment">// crazy assembly goes here</span>
}
  </code>
</section>
