<%= render("features_navigation") %>

<section>
  <h2>Constants</h2>
  <code>
<span class="comment">// You can define constants just like other variables.  They</span>
<span class="comment">// just need to have all caps for their name</span>
<span class="entity">Integer</span> <span class="constant">MY_CONSTANT</span> = <span class="literal">7</span>

<span class="entity">String</span> <span class="constant">MY_STRING</span> = <span class="string">"abc"</span>
  </code>
</section>
