<%= render("features_navigation") %>

<section>
  <h2>Constants</h2>
  <code>
<span class="comment">// You can define numerical/value-type constants using</span>
<span class="comment">// a scripting-language style.</span>
<span class="entity">Integer</span> <span class="constant">MY_CONSTANT</span> = <span class="literal">7</span>

<span class="comment">// Strings are slightly special, this one is an object, and</span>
<span class="comment">// is allowed to contain unicode characters.</span>
<span class="entity">String</span> <span class="constant">MY_STRING</span> = <span class="string">"abc"</span>

<span class="comment">// This is just a pointer to ascii data</span>
<span class="entity">Pointer</span> <span class="constant">MY_C_STRING</span> = <span class="string">c"abc"</span>
  </code>
</section>
