<%= render("features_navigation") %>

<section>
  <h2>Dispatch</h2>
  <code>
<span class="comment">// Methods are always dispatched dynamically.  There</span>
<span class="comment">// will not be a compiler warning, but there might be</span>
<span class="comment">// a runtime error if this object and all its superclasses</span>
<span class="comment">// do not implement the method</span>
<span class="entity">MyObject</span> obj

obj = <span class="entity">MyObject</span>.<span class="keyword">new</span>()

obj.<span class="function">some_method</span>(<span class="literal">7</span>)
  </code>
</section>
