<%= render("features_navigation") %>

<section>
  <h2>Interfaces</h2>
  <code>
<span class="comment">// An interface is a externally-accessible definition of methods</span>
<span class="comment">// that a class implements.  Inheritance is also defined, but only via</span>
<span class="comment">// the other interfaces that the class implements.</span>
<span class="comment">// </span>
<span class="comment">// An interface does not define any of the class's internal structure.</span>
<span class="comment">// By extension, it is not possible to access a super-class's instance variables.</span>
<span class="comment">// </span>
<span class="comment">// A subclasser need only know about these methods and those defined by</span>
<span class="comment">// the Object interface</span>
<span class="keyword">interface</span> <span class="entity">Array</span> : <span class="superclass">Object</span>
{
    <span class="keyword">property</span> <span class="function">length</span>(<span class="entity">Natural</span>;)
    
    <span class="keyword">indexer</span> <span class="keyword">self</span>[<span class="entity">Natural</span> index](<span class="entity">Object</span>; <span class="entity">Object</span>)
    
    <span class="keyword">method</span> <span class="function">each</span>(<span class="entity">Function</span>(<span class="entity">Object</span>) block)
}
  </code>
</section>
