<%= render("features_navigation") %>

<section>
  <h2>Libraries</h2>
  <code>
<span class="comment">// turns out you cannot write all your code in one file</span>

<span class="comment">// import file contents directly by supplying a path</span>
<span class="keyword">import</span> <span class="string">"/path/to/a/file.chime"</span>

<span class="comment">// import a compiled library using a namespace expression</span>
<span class="keyword">import</span> <span class="entity">My.Library</span>
  </code>
</section>
