<%= render("features_navigation") %>

<section>
  <h2>Literal</h2>
  <code>
<span class="comment">// Boolean values</span>
<span class="literal">true</span> != <span class="literal">false</span>

<span class="comment">// Strings</span>
x = <span class="string">"This is a string literal"</span>

<span class="comment">// Numbers</span>
x = <span class="literal">7</span>
x = <span class="literal">7.5</span>
y = <span class="literal">0x0000007</span>

<span class="comment">// Imaginary numbers are supported with the 'j' syntax</span>
x = <span class="literal">7j</span>

<span class="comment">// Range is an object that represents a numeric span.  It has</span>
<span class="comment">// a literal form</span>
x = <span class="literal">6:7</span>           <span class="comment">// 6 to 7 inclusive</span>
x = <span class="string">"string"</span>[<span class="literal">0:2</span>] <span class="comment">// "str" </span>

<span class="comment">// Array objects</span>
x = [<span class="string">"a"</span>, <span class="string">"b"</span>, <span class="string">"c"</span>]

<span class="comment">// Hash objects</span>
x = {<span class="string">"a"</span>:<span class="literal">1</span>, <span class="string">"b"</span>:<span class="entity">SomeObject</span>.<span class="function">new</span>()}
  </code>
</section>
