<%= render("features_navigation") %>

<section>
  <h2>Namespaces</h2>
  <code>
<span class="comment">// You can organize classes into namespaces in two ways</span>

<span class="comment">// By using dots in the definition</span>
<span class="keyword">interface</span> <span class="entity">MyNamespace.Array</span> : <span class="superclass">Object</span>

<span class="comment">// Or with en enclosing structure</span>
<span class="keyword">namespace</span> <span class="entity">MyNamespace</span>
{
    <span class="keyword">interface</span> <span class="entity">Array</span> : <span class="superclass">Object</span>
}

  </code>
</section>
