<%= render("features_navigation") %>

<section>
  <h2>Structures</h2>
  <code>
<span class="comment">// Structure definitions are quite similar to C</span>
<span class="keyword">structure</span> <span class="entity">MyStructure</span>
{
    <span class="comment">// Structures are made up of built-in Types </span>
    
    <span class="entity">Integer</span>       default_32_bit_size
    <span class="entity">Integer</span><span class="attribute">&lt;<span class="literal">3</span>&gt;</span>    three_bit_integer
    
    <span class="entity">Integer</span><span class="attribute">[<span class="literal">5</span>]</span>    array_of_five_integers
    <span class="entity">Integer</span><span class="attribute">&lt;<span class="literal">8</span>&gt;</span><span class="attribute">[<span class="literal">5</span>]</span> array_of_five_8_bit_integers
    
    <span class="entity">Natural</span><span class="attribute">&lt;<span class="literal">16</span>&gt;</span>   16_bit_unsigned_integer
    
    <span class="entity">Float</span><span class="attribute">&lt;<span class="literal">32</span>&gt;</span>     32_bit_floating_point_number
}

<span class="comment">// Once defined, structures are Value types themselves</span>
<span class="keyword">structure</span> <span class="entity">MyNewStructure</span>
{
    <span class="entity">MyStructure</span><span class="attribute">[<span class="literal">2</span>]</span> two_structures
}
  </code>
</section>
